<section class="about-section" id="abo">
    <div class="about-container">

        <div class="about-side fade-in">
            <img src="/27597c76-532a-42fb-932a-79815934d954.avif" alt="Mugesh R" class="about-image" />
        </div>
        <div class="about-content fade-in">
            <h2>About Me</h2>

            <p>👋 Hello! I'm <strong>Mugesh R</strong>, a Junior Angular Developer at <strong>BOCXY Technologies Private
                    Limited</strong>. I recently transitioned from intern to full-time after an exciting and rewarding
                internship experience.</p>

            <p>I'm an <strong>MCA graduate</strong> with a solid foundation in computer science and a strong passion for
                front-end development. I specialize in <strong>Angular</strong> with hands-on experience in building
                dynamic, responsive, and scalable web apps using <strong>TypeScript</strong>, <strong>HTML</strong>,
                <strong>CSS</strong>, and <strong>Angular CLI</strong>.
            </p>

            <p>I thrive in collaborative team environments and love turning design concepts into clean, maintainable
                code. I’ve grown technically and professionally—and I'm excited for what lies ahead in modern web
                development.</p>

            <p class="final-note"><strong>Let’s build elegant, high-performance applications together with Angular!
                    🚀</strong></p>
        </div>


    </div>
</section>