<!-- <section class="hero">
    <div class="hero-left">
        <h1 class="fade-in delay-1">Hi, I'm <span class="highlight">Mugesh</span></h1>
        <h2 class="fade-in delay-2">Frontend Developer</h2>

        <p class="bio fade-in delay-3">
            Passionate frontend developer crafting interactive and responsive user interfaces using Angular and modern
            web technologies.
        </p>

        <button mat-raised-button color="primary" class="resume-btn fade-in delay-4">
            Download Resume
        </button>

        <div class="social-icons fade-in delay-5">
            <a href="https://github.com/mugesh005" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/mugesh-r-955a9525b" target="_blank"><i
                    class="fab fa-linkedin-in"></i></a>
            <a href="mailto:mugeshravichandran007&#64;gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
    </div>

    <div class="hero-right fade-in delay-6">
        <div class="image-container-1">
            <div class="image-container">
                <img src="WhatsApp Image 2025-07-01 at 17.58.54.jpeg" alt="Mugesh" />
            </div>
        </div>

    </div>

    <div class="bg-blur"></div>
</section> -->

<section class="hero">
    <!-- Hero Left -->
    <div class="hero-left">
        <h1 class="fade-in delay-1">Hi, I'm <span class="highlight">Mugesh</span></h1>
        <h2 class="fade-in delay-2">Frontend Developer</h2>

        <p class="bio fade-in delay-3">
            Passionate frontend developer crafting interactive and responsive user interfaces using Angular and modern
            web technologies.
        </p>

        <button mat-raised-button color="primary" class="resume-btn fade-in delay-4">
            Download Resume
        </button>

        <div class="social-icons fade-in delay-5">
            <a href="https://github.com/mugesh005" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/mugesh-r-955a9525b" target="_blank"><i
                    class="fab fa-linkedin-in"></i></a>
            <a href="mailto:mugeshravichandran007@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
    </div>

    <!-- Hero Right -->
    <div class="hero-right fade-in delay-6">
        <div class="image-container">
            <img src="WhatsApp Image 2025-07-01 at 17.58.54.jpeg" alt="Mugesh" />
        </div>
    </div>

    <!-- Holi Blur Blobs -->
    <div class="color-blob pink"></div>
    <div class="color-blob yellow"></div>
    <div class="color-blob blue"></div>
    <div class="color-blob green"></div>
    <div class="color-blob orange"></div>
</section>